[submodule "OneLifeData"]
	path = OneLifeData
	url = https://github.com/jasonrohrer/OneLifeData7
[submodule "src/OneLifeData"]
	path = src/OneLifeData
	url = https://github.com/jasonrohrer/OneLifeData7
